[Desktop Entry]
Type=Application
Name=EduShell
Comment=Educational Desktop Shell
Exec=/usr/local/bin/edushell-session
Icon=edushell
Type=XSession
DesktopNames=EduShell
